.comic-list-wrapper {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.25rem;
}

.comic-list-wrapper.grid {
  grid-auto-flow: column dense;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.comic-list-wrapper.list {
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
}