.comic-item-container {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.25rem;
}

.comic-item-container.list {
  grid-auto-flow: column dense;
}

.comic-item-container.grid {
  grid-auto-flow: row dense;
}

.comic-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
